@import "tailwindcss";

.custom-scroll {
      

    }

    /* Custom scrollbar styles */
    .custom-scroll::-webkit-scrollbar {
      width: 5px;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
      background: #3498db;
      border-radius: 5px;
    }

    .custom-scroll::-webkit-scrollbar-thumb:hover {
      background: #2980b9;
    }

    .custom-scroll::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 5px;
    }

    /* For Firefox */
    .custom-scroll {
      scrollbar-width: thin;
      scrollbar-color: ##facc15 #f1f1f1;
    }

